<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <!-- This key is for Application Insights resource 'PoppertechCalculator' in resource group 'Default-ApplicationInsights-EastUS' -->
  <InstrumentationKey>382a0668-ec37-4628-bc63-0b543cfbbc57</InstrumentationKey>
</ApplicationInsights>