<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Poppertech Calculator</title>

    <link href="styles/bootstrap.css" rel="stylesheet" />
    <link href="styles/bootstrap-theme.css" rel="stylesheet" />
    <link href="Content/angular-toastr.css" rel="stylesheet" />
    <link href="styles/site.css" rel="stylesheet" />

    <script src="scripts/angular/angular.js"></script>
    <script src="scripts/angular/angular-resource.js"></script>
    <script src="scripts/angular/angular-animate.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="scripts/angular-toastr/angular-toastr.tpls.js"></script>

</head>

<body ng-app="poppertechCalculatorApp">


    <div ng-controller="CalculatorController as vm">

        <div ng-hide="vm.hideBackground" class="background animate-hide">
            <div class="loader"></div>
        </div>

        <div class="container">

            <div class=" row">
                <div class="col-sm-12">
                    <h2 class="page-header">Poppertech Calculator</h2>
                </div>
            </div>

            <div class="panel-group">

                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3>Dashboard</h3>
                    </div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="text-center">Probability of Meeting Cash Needs</h4>
                            </div>

                            <div class="col-sm-4">
                                <h4 class="text-center">Investment Amounts</h4>
                            </div>

                            <div class="col-sm-4">
                                <h4 class="text-center">Cash Flow Forecast</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 text-center">
                                <area-chart chart-data="{{vm.probabilityChartData}}" chart-width="350" chart-height="215" chart-top-margin="20"
                                            chart-right-margin="0" chart-bottom-margin="60" chart-left-margin="40"
                                            chart-fill-color="darkblue" />
                            </div>

                            <div class="col-sm-4 text-center">
                                <pie-chart chart-data="{{vm.portfolioChartData}}" chart-width="350" chart-height="215"
                                           chart-path-offset="10" chart-label-offset="40" chart-top-margin="0"
                                           chart-left-margin="0" />
                            </div>

                            <div class="col-sm-4 text-center">
                                <area-chart chart-data="{{vm.editProperties.cashForecast}}" chart-width="350" chart-height="215" chart-top-margin="20"
                                            chart-right-margin="0" chart-bottom-margin="60" chart-left-margin="40"
                                            chart-fill-color="darkred" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Cash Flow Forecast</h3>
                    </div>
                    <div class="panel-body">
                        <ng-form name="vm.CashFlowForm">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th ng-repeat="forecast in vm.editProperties.cashForecast">
                                                    {{forecast.date}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td ng-repeat="forecast in vm.editProperties.cashForecast">
                                                    <input type="number"
                                                           ng-model="forecast.value"
                                                           ng-model-options="{ updateOn: 'blur'}"
                                                           class=" form-control"
                                                           min="-99999999"
                                                           max="99999999"
                                                           required />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 help-block" ng-if="vm.CashFlowForm.$invalid">
                                    Cash flows are required and must be between -99,999,999 and 99,999,999
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Investment Forecast</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-sm-12">
                                <h4 class="text-left">1. Choose a variable to forecast</h4>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-4 text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" height="215px">
                                    <rect x="0" y="50" width="150" height="50" rx="15" ry="15" class="level1-rect rect-normal" ng-click="vm.selectVariable('stocks')" ng-class="vm.stocksClass" />
                                    <rect x="250" y="50" width="150" height="50" rx="15" ry="15" class="level2-rect rect-normal" ng-click="vm.selectVariable('bonds')" ng-class="vm.bondsClass" />

                                    <text x="40" y="80" class="rect-text stocks" ng-click="vm.selectVariable('Stocks')">US Stocks</text>
                                    <text x="290" y="80" class="rect-text bonds" ng-click="vm.selectVariable('Bonds')">US Bonds</text>

                                    <polyline points="150,75 250,75 250,75 250,75" class="connector" />
                                    <polyline points="235,60 250,75 250,75 235,90" class="connector" />
                                </svg>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="text-left">2. Forecast investment results based on parent outcome</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-3">
                                <select class="form-control"
                                        ng-disabled="!vm.selectedVariable || vm.SelectedForecastForm.$invalid"
                                        ng-model="vm.forecastRegion"
                                        ng-change="vm.onScenarioSelectionChange(vm.forecastRegion, vm.selectedForecast)"
                                        ng-options="option.value as option.text for option in vm.forecastRegionOptions"></select>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-4">
                                <h4 class="text-center">Forecast Scenarios</h4>
                            </div>

                            <div class="col-sm-4">
                                <h4 class="text-center">Forecast Distribution</h4>
                            </div>

                            <div class="col-sm-4">
                                <h4 class="text-center">Forecast Statistics</h4>
                            </div>

                        </div>

                        <div class="row">

                            <ng-form name="vm.SelectedForecastForm">

                                <div class="row">
                                    <div class="col-sm-12 help-block" ng-if="vm.SelectedForecastForm.$invalid">
                                        &nbsp; Forecasts are required, must be between 0 and 1000, and in ascending order
                                    </div>
                                </div>

                                <div class="form-group col-sm-4">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr ng-repeat="(forecastName, forecastValue) in vm.selectedForecast">
                                                <td>{{forecastName}}</td>
                                                <td>
                                                    <input type="number"
                                                           class="form-control"
                                                           ng-model="vm.selectedForecast[forecastName]"
                                                           ng-model-options="{ updateOn: 'blur'}"
                                                           ng-change="vm.onForecastValueChange(vm.selectedForecast)"
                                                           required
                                                           min="0"
                                                           max="1000" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-form>

                            <div class="col-sm-4 text-center">
                                <multi-colored-area-chart chart-data="{{vm.conditionalForecastChartData}}" chart-width="350" chart-height="215" chart-top-margin="20"
                                                          chart-right-margin="0" chart-bottom-margin="50" chart-left-margin="40" />
                            </div>

                            <div class="col-sm-4">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr ng-repeat="(statName, statValue) in vm.conditionalStats">
                                            <td>{{statName}}</td>
                                            <td>{{statValue | number: 2}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-4">
                                <button type="button"
                                        class="btn btn-default btn-sm pull-left"
                                        ng-click="vm.simulateInvestments(vm.editProperties.conditionalForecasts)"
                                        ng-disabled="vm.SelectedForecastForm.$invalid">
                                    <h4 class="text-left">
                                        3. Simulate investment results
                                    </h4>
                                </button>
                            </div>

                            <div class="col-sm-4">
                                <h4 class="text-center">Simulation Histogram</h4>
                            </div>

                            <div class="col-sm-4">
                                <h4 class="text-center">Simulation Statistics</h4>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-4"></div>

                            <div class="col-sm-4">

                                <column-chart chart-data="{{vm.histogramChartData}}" chart-width="350" chart-height="215"
                                              chart-top-margin="20" chart-right-margin="0" chart-bottom-margin="50"
                                              chart-left-margin="40" />

                            </div>

                            <div class="col-sm-4">

                                <table class="table table-striped" ng-show="vm.simulationResults">
                                    <tbody>
                                        <tr ng-repeat="(statName, statValue) in vm.simulatedStatistics">
                                            <td>
                                                {{statName}}
                                            </td>

                                            <td>
                                                {{statValue | number : 2}}
                                            </td>

                                        </tr>

                                    </tbody>

                                </table>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Portfolio</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="InvestmentNameTextBox">Investment</label>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="InitialPriceTextBox">Initial Price</label>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="AmountTextBox">Amount</label>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="WeightTextBox">Weight</label>
                                </div>
                            </div>

                        </div>

                        <ng-form name="vm.PortfolioForm">

                            <div class="row" ng-repeat="investmentContext in vm.editProperties.investmentContexts">

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input name="InvestmentNameTextBox" + $index
                                               ng-model="investmentContext.name"
                                               type="text"
                                               class="form-control"
                                               readonly />
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input name="InitialPriceTextBox" + $index
                                               ng-model="investmentContext.initialPrice"
                                               ng-model-options="{ updateOn: 'blur'}"
                                               type="number"
                                               min="1"
                                               max="1000"
                                               class="form-control"
                                               required />
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input name="AmountTextBox" + $index
                                               ng-model="investmentContext.amount"
                                               ng-model-options="{ updateOn: 'blur'}"
                                               ng-change="vm.onInvestmentAmountChange(vm.editProperties.investmentContexts)"
                                               type="number"
                                               min="0"
                                               max="99999999"
                                               class="form-control"
                                               required />
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input readonly
                                               name="WeightTextBox" + $index
                                               ng-model="investmentContext.weight"
                                               type="text"
                                               class="form-control" />
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-12 help-block" ng-if="vm.PortfolioForm.$invalid">
                                    Investment initial prices and amounts are required.
                                    Initial prices must be between 1 and 1000.
                                    Amounts must be between 0 and 99,999,999
                                </div>
                            </div>

                        </ng-form>

                        <div class="row">

                            <div class="col-sm-3 col-sm-offset-9">
                                <button type="button"
                                        ng-disabled="vm.CashFlowForm.$invalid || vm.SelectedForecastForm.$invalid || vm.PortfolioForm.$invalid"
                                        ng-click="vm.simulatePortfolio(vm.editProperties.cashForecast, vm.editProperties.conditionalForecasts)"
                                        class="btn btn-default
                                    btn-lg">
                                    Simulate
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Optimization</h3>
                    </div>
                    <div class="panel-body">

                        <ng-form name="vm.OptimizationForm">

                            <div class="row">

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="LowerBoundTextBox">Position Size Lower Bound:</label>
                                        <input type="number"
                                               ng-model="vm.editProperties.optimizationParams.lowerBound"
                                               ng-model-options="{ updateOn: 'blur'}"
                                               class="form-control"
                                               name="LowerBoundTextBox"
                                               min="0"
                                               max="{{99999999 - vm.editProperties.optimizationParams.interval}}"
                                               required />
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="UpperBoundTextBox">Position Size Upper Bound:</label>
                                        <input type="number"
                                               ng-model="vm.editProperties.optimizationParams.upperBound"
                                               ng-model-options="{ updateOn: 'blur'}"
                                               class="form-control"
                                               name="UpperBoundTextBox"
                                               min="{{vm.editProperties.optimizationParams.lowerBound + vm.editProperties.optimizationParams.interval}}"
                                               max="99999999"
                                               required />
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="MinimumLotTextBox">Minimum Lot Size:</label>
                                        <input type="number"
                                               ng-model="vm.editProperties.optimizationParams.interval"
                                               ng-model-options="{ updateOn: 'blur'}"
                                               class="form-control"
                                               name="MinimumLotTextBox"
                                               min="1"
                                               max="9999999"
                                               required>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-12 help-block" ng-if="vm.OptimizationForm.$invalid">
                                    Optimization lower bound, upper bound, and interval parameters are all required.
                                    The lower bound must be greater than zero and less than the upper bound.
                                    The upper bound must be less than 99,999,999.
                                    There must be at least one interval for the optimization to be valid.
                                </div>
                            </div>

                        </ng-form>

                        <div class="row">

                            <div class="col-sm-3 col-sm-offset-9">
                                <button type="button"
                                        ng-disabled="vm.CashFlowForm.$invalid || vm.SelectedForecastForm.$invalid || vm.PortfolioForm.$invalid || vm.OptimizationForm.$invalid"
                                        ng-click="vm.optimizePortfolio(vm.editProperties.optimizationParams, vm.editProperties.cashForecast, vm.editProperties.conditionalForecasts)"
                                        class="btn btn-default btn-lg">
                                    Calculate
                                </button>
                                <button type="button"
                                        class="btn btn-danger btn-lg"
                                        ng-click="vm.reset()">
                                    Reset
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="scripts/d3/d3.js"></script>
    <script src="scripts/controllers/application-controller.js"></script>

    <script src="scripts/services/forecast-graph-calculations-svc.js"></script>
    <script src="scripts/services/moment-calculations-svc.js"></script>
    <script src="scripts/services/simulation-api.svc.js"></script>
    <script src="scripts/services/forecast-api.svc.js"></script>
    <script src="scripts/services/portfolio-simulation-api.svc.js"></script>
    <script src="scripts/services/pso-api.svc.js"></script>

    <script src="scripts/directives/d3-pie-chart-dir.js"></script>
    <script src="scripts/directives/d3-area-chart-dir.js"></script>
    <script src="scripts/directives/d3-column-chart-dir.js"></script>
    <script src="scripts/directives/d3-multi-colored-area-chart-dir.js"></script>

</body>
</html>
