.rect-normal{
    stroke-width: 3;
    stroke: rgb(0,0,0);
}

.rect-selected{
    stroke-width: 4;
    stroke: orange; 
}

.level1-rect {
    fill: rgb(100, 100, 200);

}

.level2-rect {
    fill: rgb(100, 200, 100);
}

.connector {
    fill: none;
    stroke: black;
    stroke-width: 3;
}

.rect-text {
    font-weight: bold;
}

.list-group {
    list-style: decimal inside;
}

.list-group-item {
    display: list-item;
}

.bar {
    fill: darkblue;
}

.tick text {
    font-size: 16px;
}

.row svg{
    overflow:visible;
}

.pie-chart-label{
    font-weight: bold;
}
